body {
  background-color: rgb(166, 167, 254);
  font-family: Roboto;
  color: black;
}

h1 {
  color: navy;
  margin-left: 0px;
  font-family: Roboto;
  font-weight: 900;

}
button {
  font-family: Roboto;
}
details > summary {
  padding: 4px;
  width: 200px;
  color: white;
  background-color: #491083;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

p {
  font-size: large;
}

.counter {
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} 
.debug {
  color: white;
  background-color: #491083;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

.inline {
  display: inline;
  vertical-align: middle;
}


table {
  background: #4e3279;
  color: #ffffff;
  border-radius: .4em;
  overflow: hidden;
  font-size: medium;
  width: 30%;

  tr {
    border-color: lighten(#ff0303, 100%);
  }
  
  th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #491083;
    color: white;
  }
  th, td {
    margin: .5em 1em;
  }
  th, td:before {
    color: rgb(255, 255, 255);
  }
}

/* https://stackoverflow.com/a/21320622 */
@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}