body {
    background-color: rgb(166, 167, 254);
  }
  
  h1 {
    color: navy;
    margin-left: 0px;
  }

  @keyframes wheel_spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .wheel_spin { animation: spin 3s linear infinite; }
  